#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Todo{
  display: flex;
  background-color: #F7EFE5;
  justify-content: space-around;
  margin: 10px;
  border-radius: 5px;
}
.Todo h1{
  display: flex;
  font-size: x-large;
  width: 400px;
  justify-content: center;
}
.Todo button{
  display: flexbox;
  align-self:center;
}

.TodoWraper{
  background-color: #7743DB;
  padding: 30px;
  border-radius: 5px;
}

.FormTodo{
  display: flex;
  width: 600px;
  height: fit-content;
  justify-content: space-around;
  flex-direction: wrap;
}

.InputTodo{
  width: 300px;
  height: 50px;
  font-size: x-large;
  margin-left: 20px;
  background-color:#F7EFE5;
  border-color: #7743DB;
}
.InputTodo:hover{
  background-color: #FFFBF5;
  border-color: #C3ACD0;
}
.InputTodo:focus{
  background-color: #FFFBF5;
  border-color: #7743DB;
}

.ButtonAdd{
  width : 200px;
  height: 50px;
  border: none;
  background-color: #b7d9ff;
}
.ButtonAdd:hover{
  background-color: #888;
  color: aliceblue;
  border: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
